@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.h_nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: yellowgreen;
  border-bottom: 1px solid black;
  color: white;
}
.h_login_page {
  margin-top: 100px;
  background-color: yellowgreen;
  margin-left: 300px;
  width: 50%;
  padding: 10px;
}
.input {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 90%;
  border-radius: 2px;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  margin: 10px;
  margin-left: 19px;
}
.inputs {
  border: 1px solid black;
  padding: 0.5rem 0.1rem;
  width: 90%;
  border-radius: 2px;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  margin: 10px;
  margin-left: 19px;
}
.h_login_page p {
  margin-left: 20px;
  color: white;
}
.button {
  margin-top: 10px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 20%;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-left: 19px;
}
.buttonk {
  margin-top: 10px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-left: 19px;
}
.Donot:hover {
  cursor: pointer;
}
.h_dash_div {
  display: grid;
  grid-template-areas: 'left right';
  padding: 10px;
  display: flex;
}
.left {
  grid-area: 'left';
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.right {
  grid-area: 'right';
  width: 100%;
  text-align: center;
  padding: 10px;
}
.Pha_dash {
  display: grid;
  grid-template-areas: 'LEFT CENTER RIGHT';
  padding: 10px;
  display: flex;
}
.LEFT {
  grid-area: 'LEFT';
  width: 100%;
  text-align: center;
  padding: 10px;
}
.RIGHT {
  grid-area: 'CENTER';
  width: 100%;
  text-align: center;
  padding: 10px;
  border-left: 1px solid black;
}
.CENTER {
  grid-area: 'RIGHT';
  width: 100%;
  text-align: center;
  padding: 10px;
  border-left: 1px solid black;
}
#customers {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: yellowgreen;
  color: white;
}
.Update {
  background-color: darkgreen;
  color: whitesmoke;
}
.Delete {
  background-color: darkred;
  color: whitesmoke;
}
.reception_reg {
  margin-top: 100px;
  background-color: yellowgreen;
  margin-left: 300px;
  width: 50%;
  padding: 10px;
}
.search_P {
  margin-top: 100px;
  margin-left: 300px;
  width: 50%;
  padding: 10px;
}
.search_P p {
  margin-left: 20px;
  color: black;
}
.reception_reg p {
  margin-left: 20px;
  color: white;
}
.patient-code {
  margin-top: 100px;
  width: 50%;
  margin-left: 300px;
  text-align: center;
}
.p_info {
  padding: 10px;
  text-align: center;
}
.Doc_View_p {
  display: grid;
  grid-template-areas: 'INFO MEDS RECORD';
  padding: 10px;
  display: flex;
}
.INFO {
  grid-area: 'LEFT';
  width: 100%;
  text-align: center;
  padding: 10px;
}
.MEDS {
  grid-area: 'MEDS';
  width: 100%;
  text-align: center;
  padding: 10px;
  border-left: 1px solid black;
}
.RECORD {
  grid-area: 'RECORD';
  width: 100%;
  text-align: center;
  padding: 10px;
  border-left: 1px solid black;
}
.space {
  margin-top: 50px;
}
.FLEX {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: fit-content;
  border-bottom: 1px solid black;
  padding: 10px;
}
.P_rec {
  margin-top: 20px;
  padding: 10px;
  margin-left: 500px;
}
.io {
  width: fit-content;
  border-bottom: 1px solid black;
  padding: 10px;
}
.d_nav {
  display: flex;
  flex-direction: row;
}
.d_nav p {
  padding: 2px 8px;
}
.d_nav p:hover {
  cursor: pointer;
}
.h_nav_bar h3:hover {
  cursor: pointer;
}
.s_input {
  padding: 5px;
  width: 50px;
}
.send {
  background-color: #f7c52a;
}
.send:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #f7c52a;
}
.LO:hover {
  cursor: pointer;
}
.medList {
  background-color: rgb(48, 45, 45);
  width: 90%;
  margin-left: 23px;
  margin-top: -10px;
}
.medListInfo {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  color: white;
}
.checkBox {
  padding: 10px;
}
.sentMed {
  margin-top: 30px;
  border: 1px solid #f7c52a;
  height: 100px;
  overflow-y: auto;
}
.sntDiv {
  margin: 8px;
  display: flex;
  justify-content: space-between;
}
.x:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 1.5px;
  border-radius: 10px;
}
.buttonz {
  margin-top: 10px;
  background: #f7c52a;
  border: none;
  padding: 10px;
  border-radius: 2px;
  width: 20%;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-left: 19px;
}
.search-date {
  padding: 5px;
  align-items: center;
  text-align: center;
}
.date-p {
  margin-top: 100px;
}
